###############################################################################
# COLLEGE EVENT WEB MONITORING
###############################################################################

###############################################################################
# HOST DEFINITION
###############################################################################

define host{
        use                     linux-server
        host_name               college-event-web
        alias                   College Event Web
        address                 college-event-web
        }

###############################################################################
# HOST GROUP DEFINITION
###############################################################################

define hostgroup{
        hostgroup_name  web-servers
        alias           Web Servers
        members         college-event-web
        }

###############################################################################
# SERVICE DEFINITIONS
###############################################################################

# Ping check
define service{
        use                     local-service,graphed-service
        host_name               college-event-web
        service_description     PING
        check_command           check_ping!100.0,20%!500.0,60%
        }

# HTTP check on port 8084
define service{
        use                     local-service,graphed-service
        host_name               college-event-web
        service_description     HTTP Port 8084
        check_command           check_http!-p 8084 -u / -e 200
        }

# Application Health Endpoint
define service{
        use                     local-service,graphed-service
        host_name               college-event-web
        service_description     Application Health
        check_command           check_http!-p 8084 -u /actuator/health -e 200,UP
        }

# TCP Port 8084 Check
define service{
        use                     local-service,graphed-service
        host_name               college-event-web
        service_description     Spring Boot Port 8084
        check_command           check_tcp!8084
        }
